.red {
  color: #ff0000;
}

#dashboardMain {
  padding: 70px 100px;
  header {
    margin-bottom: 75px;
    h2 {
      font-size: 48px;
      margin-bottom: 40px;
    }
    p {
      font-size: 18px;
    }
  }
  #infos {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: "activity activity activity cards" "session performance score cards";
    gap: 30px;
    .activityBarChart {
      grid-area: activity;
    }
    .miniCardContainer {
      grid-area: cards;
      display: grid;
      gap: 40px;
      grid-template-rows: repeat(4, 1fr);
    }
    .sessionLineChart {
      grid-area: session;
    }
    .performanceRaderChart {
      grid-area: performance;
    }
    .scoreChart {
      grid-area: score;
    }
  }
}

@media screen and(max-width: 1439px) {
  #dashboardMain {
    padding: 40px;
    #infos {
      gap: 15px;
      .miniCardContainer {
        gap: 20px;
      }
    }
  }
}

@media screen and(max-width: 1000px) {
  #dashboardMain #infos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: "activity activity activity" "session performance score" "cards cards cards";
    .miniCardContainer {
      grid-template-rows: none;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
