.sessionLineChart {
  background-color: #ff0000;
  border-radius: 5px;
  &__header {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 15px;
    color: #ff8080;
    line-height: 24px;
    width: 80%;
  }
  .days {
    display: flex;
    color: white;
  }
}

@media screen and (max-width: 1440px) {
  .sessionLineChart {
    &__header {
      top: 15px;
      left: 15px;
    }
  }
}
