#root > aside {
  background-color: black;
  height: calc(100vh - 89px);
  min-height: calc(1024px - 89px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translateY(-1px);
  > p {
    position: absolute;
    font-size: 12px;
    width: max-content;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li a {
      display: flex;
      height: 64px;
      width: 64px;
      padding: 14px;
      background-color: white;
      border-radius: 15px;
      justify-content: center;
      align-items: center;
    }
  }
}
